
#login-box {
    position: absolute;
    width: 34%;
    height:300px;
    margin-top: 300px;
    margin-left:550px;
    text-align: center;
    background: #00000090;
    padding: 20px 50px;
}

#login-box h1 {
    color: #fff;
}

#login-box .form .item {
    margin-top: 15px;
}

#login-box .form .item i {
    font-size: 18px;
    color: #fff;
}

#login-box .form .item input {
    width: 180px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid #fff;
    padding: 5px 10px;
    background: #ffffff00;
    color: #fff;
}

#login-box button {
    margin-top: 30px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    border: 0;
    border-radius: 15px;
    /*在这里可以设置不同Login提交按钮的样式*/
    /*background: #1abc9c;*/
    /*background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);*/
    background-image: linear-gradient(to right, #f8f8f8 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}



.top{
    height: 50px; 
    width:100%;
    margin-left: 0;
    background-color:#02a185;
    position: fixed; 
    top: 0;

}
.image1{
    position: absolute;
    margin-left:1300px;
    margin-top:600px;
}
.image2{
    position: absolute;
    margin-left:100px;
    margin-top:100px;
}
.image3{
    position: absolute;
    margin-left:100px;
    margin-top:600px;
}
.image4{
    position: absolute;
    margin-left:1300px;
    margin-top:100px;
}
.title{
    position: absolute;
    font-family: "Agency FB";
    text-align: center;
    font-size: 30px;
    color: white;
    text-align: center;
    height: 50px;
    margin-left:900px;
    margin-top:0px;
    margin-bottom: 40px;
}
.title2{
    position: absolute;
    font-family: "Agency FB";
    text-align: center;
    font-size: 30px;
    color: white;
    text-align: center;
    height: 50px;
    margin-left:1500px;
    margin-top:0px;
    margin-bottom: 40px;
}